* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*** Layout Code ***/
body {
  min-width: 640px;
}

#header, #leftcolumn, #content, #rightcolumn, #footer {
  overflow: hidden;
  display: inline-block;
}

/* safari and opera need this */
#header, #footer {
  width: 100%;
}

#leftcolumn, #content, #rightcolumn {
  float: left;
}

#content {
  width: 57%;
  margin-left: 21%;
  display: inline;
}

#leftcolumn {
  width: 21%;
  margin-left: -78%;
  display: inline;
}

#rightcolumn {
  width: 21%;
}

#footer {
  clear: both;
}
/*** End of Layout Code ***/








/* Colors
  - light brown: e8c259
  - yellow: f6f248
  - blue: 5192d0
  - light blue: d9e4f5
*/



#header {
  height: 156px;
  background: #f6f248 url(top.jpg) right no-repeat;
}

#header h1 {
  padding: 80px 0 0 50px;
  color: #2c2611;
}

.columnpadding {
  padding: 1em 0.5em;
}

#footer {
  border-top: 1px solid #d9e4f5;
  padding: 2px 2px 6px 2px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

body, th, td {
  font-family: "Bitstream Vera Sans", "Lucida Sans Unicode", sans-serif;
  font-size: 0.9em;
}

.box {
  border: 1px solid #e8c259;
  margin-bottom: 10px;
}

.boxtitle {
  background-color: #e8c259;
  margin: 1px;
  padding: 0.2em 0.4em;
  font-weight: bold;
  color: white;
}

.boxcontent {
  padding: 5px 0px;
}

a, a:visited {
  color: #5192d0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  border: none;
}

.breadcrumbs {
  margin-top: 2px;
  font-size: 0.9em;
  background-color: #d9e4f5;
  padding: 0.2em 2em;
}

.maincontent {
  padding-top: 1em;
}

input, select, textarea {
  font-family: "Bitstream Vera Sans Mono", "Lucida Sans Typewriter", "Lucida Console", mono;
  font-size: 0.9em;
  border: 1px inset #5192d0;
}

input[type="checkbox"] {
  border: 0;
}

pre {
  font-family: "Bitstream Vera Sans Mono", "Lucida Sans Typewriter", "Lucida Console", mono;
}

.notice {
  margin: 0.5em 2em;
  border: 1px solid #5192d0;
  background-color: #d9e4f5;
  padding: 0.5em;
}

.codesample {
  font-family: "Bitstream Vera Sans Mono", "Lucida Sans Typewriter", "Lucida Console", mono;
  white-space: nowrap;
  margin: 0.5em 2em;
  border: 1px solid #d9e4f5;
  padding: 0.5em;
}
